<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.dangdangcompany.dangdang.main.dao.BoardDAO">
 	<insert id="insert" parameterType="com.dangdangcompany.dangdang.main.dto.BoardDTO">
 		INSERT INTO BOARDMAIN (BOARDID, CATEGORYID, USERID, COMMENTID, FILEID, TITLE, CONTENT, UP, DOWN) 
 		VALUES(BOARD_SEQ.NEXTVAL, #{categoryId}, #{userId},#{commentId},#{fileId},#{title},#{content},#{up},#{down})
 	</insert>
 	<insert id="insert2" parameterType="com.dangdangcompany.dangdang.main.dto.BoardDTO">
 		INSERT INTO BOARDMAIN (BOARDID, CATEGORYID, TITLE, CONTENT, USERID) 
 		VALUES(BOARD_SEQ.NEXTVAL, #{categoryId}, #{title},#{content}, #{userId})
 	</insert>
 	<update id="hitUpdate" parameterType="com.dangdangcompany.dangdang.main.vo.BoardVO">
 		UPDATE BOARDMAIN SET HIT = HIT + 1
 								WHERE BOARDID = #{boardId} 
 	</update>
 	<select id="select" resultType="com.dangdangcompany.dangdang.main.vo.BoardVO">
 		SELECT
 			U.USERID,
 			U.NICKNAME,
 			M.TITLE,
 			M.CONTENT,
 			M.UP,
 			M.DOWN,
 			M.CATEGORYID,
 			M.BOARDID,
 			M.TIME,
 			M.HIT
 		FROM
 			BOARDUSER U, BOARDMAIN M
 		WHERE
 			U.USERID = M.USERID
 			AND
 			M.BOARDID = #{param1} ORDER BY TIME ASC
 	</select>
 	<select id="selectCategory" resultType="com.dangdangcompany.dangdang.main.dto.BoardDTO">
 		SELECT * FROM BOARDMAIN WHERE CATEGORYID = #{param1} ORDER BY TIME ASC
 	</select>
 	<select id="selectCategory2" resultType="com.dangdangcompany.dangdang.main.vo.BoardVO">
 		SELECT * FROM BOARDUSER U, BOARDMAIN M WHERE U.USERID = M.USERID AND M.CATEGORYID = #{param1} ORDER BY TIME DESC
 	</select>
 	<select id="selectAll" resultType="com.dangdangcompany.dangdang.main.dto.BoardDTO">
 		SELECT * FROM BOARDMAIN
 	</select>
 	
 	<select id="selectpaging" parameterType="com.dangdangcompany.dangdang.main.paging.PagingDTO" resultType="com.dangdangcompany.dangdang.main.vo.BoardVO">
 		SELECT 
 			*
 		FROM
 			(SELECT
 				PAGE.*
 			 FROM
 			 	(SELECT 
 			 		ROWNUM RNUM,
		 			U.NICKNAME,
		 			M.TITLE,
		 			M.CONTENT,
		 			M.UP,
		 			M.DOWN,
		 			M.CATEGORYID,
		 			M.BOARDID,
		 			M.TIME,
		 			M.HIT
 			 	 FROM 
 			 	 	BOARDUSER U, BOARDMAIN M
 			 	 WHERE 
 			 	 	U.USERID = M.USERID 
 			 	 	AND 
 			 	 	M.CATEGORYID = #{categoryId} 
 			 	 ORDER BY 
 			 	 	TIME DESC) PAGE
 				<![CDATA[
 			WHERE
 				ROWNUM <=#{pageSize}*(#{pageNo}))
 		WHERE
 			RNUM > #{pageSize}*(#{pageNo}-1)]]>
 			
 	</select>
 	
 </mapper>	